@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

*{
    text-decoration: none;
}

header nav a {
    color: #000;
}

nav {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction .right-side {
    display: flex;
    /* flex-direction: row;
     */
     justify-content: center;
     margin: 30px auto;
}

@media(max-width:576px) {
    .container {
        max-width: 100%;
    }
}

@media(min-width:576px) {
    .introduction .right-side img {
        width: 500px;
    }
}

.introduction .left-side h1 {
font-size: 72px;
font-weight: 700;
letter-spacing: 2px;
}

.introduction .left-side h1 span {
    color: #FF8A56;
}

.introduction .right-side img {
    width: 500px;
}

.introduction .right-side img {
    width: 300px;
}

.introduction .left-side h1 {
    font-size: 34px;
}


.introduction .left-side .book-a-call button {
    padding: 15px 30px 15px 30px;
    background: #000;
    color: #fff;
    align-items: center;
}

@media(min-width:576px) and (max-width:767px) {
    .container {
        max-width: 540px;
        margin: 40px auto;
    }
    
}


@media (min-width:428px) {
    .introduction .left-side h1 {
        font-size: 40px;
    }
}


@media(min-width:768px) {


    .container {
        max-width: 720px;
        margin: 0px auto;
    }
    
    nav {
        display: block;
    }


    .fa-bars {
        display: none;
    }
    .introduction .left-side h1 {
        font-size: 73px;
        text-align: center;
    }   

    .introduction .left-side p {
        text-align: center;
    }

    .introduction .right-side img {
        width: 500px;
    }

    .book-a-call {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media(min-width:992px) {
    .container {
        max-width: 1200px;
        margin: 40px auto;;
        padding: 10px 0px 10px 0px;
    }

    .introduction {
        display: flex;
    }

    .introduction .left-side h1, .introduction .left-side p {
        text-align: left;
    }


    .introduction .book-a-call {
        display: flex;
        justify-content: flex-start;
    }

    
    
}